* {
    background-color: #2a3a42;
    margin: 0;
    padding: 0;
}

.main img{
    height: 100px;
    padding: 20px;
}

.signPage {
    height: 65vh;
    width: 100vh;
    display: flex;
    margin: 0 auto;
}

.left {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 40px 0px 0px 40px;
}
.right {
    height: 100%;
    width: 100%;
    background-color: #f94365;
    border-radius: 0px 40px 40px 0px;
}

.content p{
    color: white;
}